<%- include('./components/deleteModal') %>

<div class="bg-slate-950 text-slate-200 min-h-screen font-sans">

  <!-- Nav bar -->
  <nav class="border-b border-slate-800 bg-slate-900/50 backdrop-blur-md sticky top-0 z-10">
    <div class="max-w-7xl mx-auto px-6 py-4 flex justify-between items-center">
      <a href="/" class="text-slate-400 hover:text-white transition-colors flex items-center gap-2">
        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path d="M15 19l-7-7 7-7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        Back to Armory
      </a>
      <div class="flex gap-3">
        <a href="/firearm/edit/<%= firearm.firearmid %>" class="flex items-center bg-slate-800 hover:bg-slate-700 px-4 py-2 rounded-lg text-sm font-medium transition">Edit Details</a>
        <button type="button" @click="$dispatch('open-delete-modal', { id: '<%= firearm.firearmid %>', name: '<%= firearm.modelname %>' })" class="bg-red-600 hover:bg-red-700 text-white px-6 py-2 rounded-xl font-bold transition cursor-pointer">
          Delete Firearm
        </button>
      </div>
    </div>
  </nav>

  <main class="max-w-7xl mx-auto px-6 py-10">
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-8">

      <!-- Image -->
      <div class="lg:col-span-8 space-y-2">
        <div class=" flex items-center justify-center bg-linear-to-b from-slate-900 to-slate-950 rounded-3xl p-4 md:p-8 border border-slate-800 shadow-2xl ">
          <img src="<%= firearm.imagepath %>" alt="Firearm Image" class="w-fit max-h-fit rounded object-contain drop-shadow-[0_20px_50px_rgba(0,0,0,0.8)]" onerror="this.src='https://clipart-library.com/images/XyckbAKTE.png'">
        </div>

        <!-- Attachment Section | will implement later -->
        <!-- <section>
          <div class="flex justify-between items-center mb-6">
            <h2 class="text-2xl font-bold tracking-tight">Mounted Attachments</h2>
            <button class="text-blue-400 hover:text-blue-300 text-sm font-semibold">+ Add Attachment</button>
          </div>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="bg-slate-900 border border-slate-800 p-4 rounded-xl flex items-center gap-4">
              <div class="w-16 h-16 bg-black rounded-lg flex-shrink-0 flex items-center justify-center p-2">
                <img src="/path-to-optic-icon.png" class="opacity-50">
              </div>
              <div>
                <h3 class="font-bold text-slate-100">Trijicon RMR</h3>
                <p class="text-xs text-slate-500 uppercase">Optic • Red Dot</p>
              </div>
            </div>

            <div class="bg-slate-900/50 border border-dashed border-slate-800 p-4 rounded-xl flex items-center justify-center text-slate-600">
              <span class="text-sm">No other attachments mounted</span>
            </div>
          </div>
        </section> -->
      </div>

      <div class="lg:col-span-4 space-y-6">
        <div class="bg-slate-900 border border-slate-800 rounded-2xl p-6 shadow-xl">
          <div class="mb-6">
            <span class="text-blue-500 text-xs font-black uppercase tracking-widest"><%= firearm.category_name %></span>
            <h1 class="text-3xl font-black text-white mt-1 uppercase"><%= firearm.modelname %></h1>
          </div>

          <div class="flex flex-col gap-4">
            <div class="space-y-4">
              <div class="flex justify-between py-3 border-b border-slate-800">
                <span class="text-slate-500 text-sm">Manufacturer</span>
                <span class="text-slate-200 font-medium res-text-body-text text-end"><%= firearm.manufacturer_name %> (<%= firearm.manufacturer_country %>)</span>
              </div>
              <div class="flex justify-between py-3 border-b border-slate-800">
                <span class="text-slate-500 text-sm">Serial Number</span>
                <span class="text-slate-200 font-mono res-text-body-text"><%= firearm.serialnumber %></span>
              </div>
              <div class="flex justify-between py-3 border-b border-slate-800">
                <span class="text-slate-500 text-sm">Caliber</span>
                <span class="text-yellow-500 font-bold res-text-body-text"><%= firearm.caliber %></span>
              </div>
              <div class="flex justify-between py-3 border-b border-slate-800">
                <span class="text-slate-500 text-sm">Ammo Config</span>
                <span class="text-slate-200 res-text-body-text"><%= firearm.ammo_category %></span>
              </div>
            </div>

            <div class="mt-8 bg-slate-950/50 rounded-xl p-4 border border-slate-800/50">
              <div class="flex justify-between items-center">
                <span class="text-xs text-slate-500 uppercase font-bold tracking-tighter">Acquisition Value</span>
                <span class="text-green-500 font-bold">$<%= firearm.purchaseprice %></span>
              </div>
              <div class="flex justify-between items-center">
                <span class="text-xs text-slate-500 uppercase font-bold tracking-tighter">Purchase Date</span>
                <span class="text-slate-400 text-xs"><%= new Date(firearm.purchasedate).toLocaleDateString() %></span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>
</div>